---
const { summary, emoji } = Astro.props;
---

<details>
    <summary>{emoji} {summary}</summary>

    <div><slot /></div>
</details>

<style>
    details {
        line-break: anywhere;
    }

    details[open] summary ~ * {
        animation: detailsSweep 0.5s ease-in-out;
    }

    summary {
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    @keyframes detailsSweep {
        0% {
            opacity: 0;
            transform: translateX(-30px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>
