---
const { project } = Astro.props;

const COLORS = ["#C23B23", "#F39A27", "#03C03C", "#579ABE", "#976ED7"];

const randomColor = () => {
    return COLORS[Math.floor(Math.random() * COLORS.length)];
};

const color = randomColor();
---

<a class="projectLink" href={`/projects/${project.slug}/`} rel={project.data.hidden ? "nofollow" : null}>
    <div class="innerCard">
        <h2>{project.data.title}</h2>
        <p>{project.data.description}</p>
    </div>
</a>

<style define:vars={{ color }}>
    .projectLink {
        text-decoration: none;
        border-bottom: none;
        display: block;
        height: 100%;
    }

    .innerCard {
        color: var(--primary);
        border-width: 2px;
        border-radius: 15px;
        border-color: #ebebeb;
        border-style: solid;
        transition: all 0.3s ease;
        height: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .innerCard h2 {
        margin: 0;
        margin-top: 10px;
    }

    .innerCard p {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .innerCard:hover {
        border-color: var(--color);
        color: var(--color);
    }
</style>

<script>
    const COLORS = ["#C23B23", "#F39A27", "#03C03C", "#579ABE", "#976ED7"];

    const randomColor = () => {
        return COLORS[Math.floor(Math.random() * COLORS.length)];
    };

    const projectLinks = document.querySelectorAll(".projectLink");

    projectLinks.forEach((link) => {
        link.addEventListener("mouseleave", () => {
            const newCol = randomColor();
            const card = link.querySelector(".innerCard")!;
            card.setAttribute("style", `--color: ${newCol};`);
        });
    });
</script>
